<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/avatar.jpeg">
      </ion-avatar>
      <ion-label>Franklin</ion-label>
      <ion-button (click)="presentAlert()"  color="light" slot="end">
        <ion-icon name="ellipsis-horizontal-sharp"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-searchbar  placeholder="Busca en tus pines"></ion-searchbar>
    <ion-buttons>
      <ion-button slot="end">
        <ion-icon (click)="presentAlert()" name="options-sharp"></ion-icon>
      </ion-button>
      <ion-button slot="end">
        <ion-icon (click)="presentAlert()" name="add-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col  size="6">
        <ion-card>
          <ion-img src="assets/abs.jpeg"></ion-img>
        </ion-card>
        <div id="texto">
          <strong id="t2">Todos</strong>
          <p> 35 Pines<ion-text style="margin-left: 4px;" color="iconos">6 h</ion-text></p>
        </div>

      </ion-col>
      <ion-col  size="6">
        <ion-card>
          <ion-img src="assets/deku.jpeg"></ion-img>
        </ion-card>
        <div id="texto">
          <strong id="t2">Anime</strong>
          <p> 23 Pines<ion-text style="margin-left: 3px;" color="iconos">1 d</ion-text></p>
        </div>
      </ion-col>
      <ion-col  size="6">
        <ion-card>
          <ion-img src="assets/fon.jpeg"></ion-img>
        </ion-card>
        <div id="texto">
          <strong id="t2">Fondos</strong>
          <p> 32 Pines<ion-text style="margin-left: 4px;" color="iconos">3 h</ion-text></p>
        </div>
      </ion-col>
      <ion-col  size="6">
        <ion-card>
          <ion-img src="assets/na.jpeg"></ion-img>
          <div id="texto">
            <strong color="iconos" id="t2">Naturaleza</strong>
            <p> 18 Pines<ion-text style="margin-left: 4px;" color="iconos">2 d</ion-text></p>
          </div>
        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
