ion-label {
    margin-left: 40px;
}
ion-item{
    margin-top: 10px;
}
ion-card{
    border-radius: 20px;
    height: 150px;
    width: 120px;
    margin-left: -3px;
}
#texto{
    margin-left: 18px;
}