.inicio{
    margin-left: 70px;
    position: relative;
}
.final{
    margin-right: 70px;
    position: relative;
    
}
ion-tabs{
   
    margin-top: -15px;
    
}
ion-tab-bar{
    margin-top:-80px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 50px;
    
}
.punto{
    width: 7px;
    height: 7px;
    color: rgb(219, 26, 26);
    margin-left: 19px;
}
