ion-buttons{
    margin-top: 30px;
    margin-left: 12px;
}
ion-img{
    border-radius: 50px;
}
ion-icon{
    position: relative;
    margin-left: 100px;
}


.d{
    margin-top: -80px;
}
ion-item{
    margin-right: 20px;
}