<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-buttons>
        <ion-button  [routerLink]="['../tab1']">Todo</ion-button>
        <ion-button  [routerLink]="['../fondos']">Fondos</ion-button>
        <ion-button  [routerLink]="['../anime']">Anime</ion-button>
       </ion-buttons>
     <ion-item> 
       <ion-label>Tema oscuro</ion-label> 
        <ion-toggle color="iconos" slot="end" (ionChange)='toggleTheme($event)'></ion-toggle> 
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
          <ion-img src="assets/playa.jpeg"></ion-img>
          <ion-icon (click)="presentAlert()" name="ellipsis-horizontal-sharp"></ion-icon>
      </ion-col>
      <ion-col size="6">
          <ion-img src="assets/x.png"></ion-img>
          <ion-icon  (click)="presentAlert()" name="ellipsis-horizontal-sharp"></ion-icon>
      </ion-col>
      <ion-col size="6">
        <ion-img src="assets/bunny.jpeg"></ion-img>
        <ion-icon  (click)="presentAlert()" name="ellipsis-horizontal-sharp"></ion-icon>
    </ion-col>
    <ion-col size="6">
        <ion-img src="assets/2.jpeg"></ion-img>
        <ion-icon  (click)="presentAlert()" name="ellipsis-horizontal-sharp"></ion-icon>
    </ion-col>
      <ion-col class="d" size="6">
          <ion-img src="assets/descarga.jpeg"></ion-img>
          <ion-icon  (click)="presentAlert()" name="ellipsis-horizontal-sharp"></ion-icon>
      </ion-col>
      <ion-col size="6">
          <ion-img src="assets/hu.jpeg"></ion-img>
          <ion-icon  (click)="presentAlert()" name="ellipsis-horizontal-sharp"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
