<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-buttons>
        <ion-chip [routerLink]="['../tab3']">Actualizaciones</ion-chip>
        <ion-chip  [routerLink]="['../mensajes']">Mensajes</ion-chip>
        <ion-button slot="end">
          <ion-icon name="options-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
    <ion-item>
      <p>
        Explora "Tus pines favoritos"
      </p>
      <ion-card>
        <ion-img src="assets/s.gif"></ion-img>
      </ion-card>
    </ion-item>
    </ion-col>
    <ion-col size="12" *ngFor="let a of card">
      <p class="estilo">
        {{a.text}}
      </p>
      <ion-item>
        <ion-card>
          <img [src]="a.img">
        </ion-card>
      </ion-item>
      </ion-col>
  </ion-row>
</ion-content>
